include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include docs *.md
recursive-include examples *.csv *.tsv *.yaml
recursive-include spec *.json
recursive-include tests *.py *.yaml
